Package: com.aehmlo.anoncloud
Name: AnonCloud
Depends: mobilesubstrate, firmware (>= 10.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Removes the avatar from iCloud-related preference cells in the root list view.
Maintainer: Alex
Author: Alex
Section: Tweaks
